@{
    ViewData["Title"] = "Home Page";
}

	<!---home--->
	<section class="home" id="home">
		<div class="home-text">
			<h1>Find out how much weight you can lose or increase with coaches. </h1>
			
		</div>

		<div class="home-img">
			<img src="img/ميزان-لقياس-الوزن-والدهون-removebg-preview.png">
		</div>
	</section>


	<!---About--->
	<section class="about" id="about">
		<div class="about-img">
			<!-- <img src="img/about.png"> -->
		</div>

		<div class="about-text">
			<a href="#" class="btn">Book Now</a>
			<a href="#" class="btn">Learn More</a>
		</div>
	</section>

	<!---food menu--->
	<section class="menu" id="menu">
		<div class="center-text">
			<h2>Our Doctor</h2>
		</div>

		<div class="menu-doctor">
			<div class="box">
				<div class="box-content">
					<div class="box-img">
						<img src="img/user.jpg">
					</div>

					<div class="box-text">
						<h4>Dr. Ahmed</h4>
						<p>A doctor with a master's degree</p>
					</div>
				</div>
			</div>

			<div class="box">
				<div class="box-content">
					<div class="box-img">
						<img src="img/user2.jpg">
					</div>

					<div class="box-text">
						<h4>Dr. Maha</h4>
						<p>A doctor with a master's degree</p>
					</div>
				</div>
			</div>

			<div class="box">
				<div class="box-content">
					<div class="box-img">
						<img src="img/user.jpg">
					</div>

					<div class="box-text">
						<h4>Dr.Mahmmed</h4>
						<p>A doctor with a master's degree</p>

					</div>
				</div>
			</div>

	</div>
	</section>

	<!---Get--->
	<section class="get" id="get">
		<div class="get-img">
			<img src="img/gym.jpg">
		</div>

		<div class="get-text">
			<h3>What you get</h3>
			<p>Step-by-step video tutorials . <br> Easy-to-cook delicious recipes .
				<br><br>
				<a href="#" class="btn">Get Started</a>
		</div>
	</section>

