@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Diet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Diet.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/styleIndex.css">

	<link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
	<!---header--->
	<header>
		
		<div class="bx bx-menu" id="menu-icon"></div>

		<ul class="navbar">
			<li><a asp-action="Index" asp-controller="Home" asp-area="" class="active">Home</a></li>
			<li><a asp-action="Index" asp-controller="Home" asp-area="">Our Coaches</a></li>
			@if(User.IsInRole("User")){
					<li><a asp-action="OrdersPatient" asp-controller="Home" asp-area="">Order</a></li>
			}
			@if (User.IsInRole("Doctor"))
			{
					<li><a asp-action="OrdersDoctor" asp-controller="Home" asp-area="">Order</a></li>
			}
			   @if (SignInManager.IsSignedIn(User))
				{
					<li >
						<form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
							<button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
						</form>
				</li>
			}
			else
			{
				<li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
			}
			
		
			
		

			<!-- <li><a href="#team">Team</a></li>
			<li><a href="#blog">Blog</a></li> -->
			
		</ul>

	</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

		<!-- footer -->
@*	<div class="end-text">
		<h2>Personalized weight Proplem adviser</h2>
		<p>© late 2022 . All Rights Reserved.</p>
	</div>*@
    <!---custom js link--->
	<script type="text/javascript" src="~/js/script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
